body {
    margin: 0;
    padding: 0;
    font-family: "Blinker";
}

header {
    display: flex;
    justify-content: center;
    background-color: #373a3c;
}

.container {
    height: 50px;
    width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.challenge {
    margin-right: 30px;
}

.challenge a { 
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul, 
nav li {
    margin: 0px;
    list-style: none; 
}

nav ul {
    display: flex;
}

nav a {
    padding: 15px;
    text-decoration: none;
    color: #9b9d9e;
    text-transform: uppercase;
}

nav a:hover, nav a.active {
    Color: white;
}

/* SEÇÕES OVERWATCH */
#overwatch {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292929;
    
}

.areaOver {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 80px;
}

.textOver h1 {
    font-family: sans-serif;
    font-size: 100px;
    color: white;
    font-weight: normal;
    margin-bottom: 0px;
    letter-spacing: 6px;
}

.subtextOver {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 22px;
    margin-top: -22px;
    margin-bottom: 60px;
}

.overLogo {
    width: 200px;
    height: 200px;
    margin-right: -300px;
    background-image: url('../imagens/500px-Overwatch_circle_logo.svg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* CLASSES ABOUT */

.areawhat {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

}

.areawhat h1 {
    font-weight: normal;
    font-size: 63px;
    text-align: center;
    margin-bottom: 0px; 
}

.areaParagraf{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.paragraf {
    max-width: 1055px;
    text-align: left;
}

/* CLASSES HEROES */
#heroes {
    display: flex;
    justify-content: center;
}

.areatext {
    width: 1400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.textHeroes {
    font-size: 40px;
}

.textHeroes h1 {
    margin-top: 50px;
    font-weight: normal;
}



